[submodule "irbfiles"]
	path = irbfiles
	url = git://github.com/michaelbarton/irbfiles.git
[submodule "zsh-git"]
	path = zsh-git
	url = git://github.com/jcorbin/zsh-git.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
