[submodule "irbfiles"]
	path = irbfiles
	url = git@github.com:michaelbarton/irbfiles.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/adamlogic/ack.vim.git
