USERMAP_UID={{ ansible_facts['user_uid'] }}
USERMAP_GID={{ ansible_facts['user_gid'] }}
PAPERLESS_TIME_ZONE=America/Los_Angeles
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_SECRET_KEY='{{ paperless_secret_key.stdout }}'
