---
- name: Create virtual environment
  ansible.builtin.pip:
    virtualenv: "{{ venv_path }}/nvim"
    virtualenv_python: "python{{ python_version }}"
    name:
      - codespell
      - dap-python
      - debugpy
      - isort
      - mdformat
      - neovim
      - pynvim
      - pyright
      - ruff
      - yamllint

- name: Remove existing ftplugin directory if it exists (to allow symlinking)
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/nvim/ftplugin"
    state: absent

- name: Link specific configuration files

  ansible.builtin.file:
    src: "{{ playbook_dir }}/../{{ item.src }}"
    dest: "{{ ansible_env.HOME }}/{{ item.dest }}"
    state: link
  loop:
    - { src: "nvim/init.lua", dest: ".config/nvim/init.lua" }
    - { src: "nvim/lua", dest: ".config/nvim/lua" }
    - { src: "nvim/ftplugin", dest: ".config/nvim/ftplugin" }

- name: Install jsonlint node.js package
  ansible.builtin.command:
    argv:
      - npm
      - install
      - --prefix
      - "{{ venv_path }}/nvim"
      - jsonlint

- name: Run Lazy sync for Neovim plugins
  ansible.builtin.command:
    argv:
      - nvim
      - --headless
      - "+Lazy! sync"
      - "+qa"
  tags:
    - nvim

- name: Clone tree-sitter-rout parser source into R.nvim resources
  # TODO: Remove once https://github.com/R-nvim/R.nvim/issues/466 is fixed and merged -- see
  # nvim/lua/plugins/language.lua for full context. Idempotent: skipped if grammar.js exists.
  ansible.builtin.shell: |
    target="{{ ansible_env.HOME }}/.local/share/nvim/lazy/R.nvim/resources/tree-sitter-rout"
    grammar="$target/grammar.js"
    if [ ! -f "$grammar" ]; then
      rm -rf "$target"
      git clone https://github.com/R-nvim/tree-sitter-rout "$target"
    fi
  tags:
    - nvim

- name: Update treesitter parsers
  ansible.builtin.command:
    argv:
      - nvim
      - --headless
      - "+TSUpdateSync"
      - "+qa"
  tags:
    - nvim
