---
- name: Create virtual environment
  ansible.builtin.pip:
    virtualenv: "{{ venv_path }}/nvim"
    virtualenv_python: "python{{ python_version }}"
    name:
      - codespell
      - dap-python
      - debugpy
      - isort
      - mdformat
      - neovim
      - pynvim
      - pyright
      - ruff
      - ruff-lsp
      - yamllint

- name: Remove existing ftplugin directory if it exists (to allow symlinking)
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/nvim/ftplugin"
    state: absent

- name: Link specific configuration files

  ansible.builtin.file:
    src: "{{ playbook_dir }}/../{{ item.src }}"
    dest: "{{ ansible_env.HOME }}/{{ item.dest }}"
    state: link
  loop:
    - { src: "nvim/init.lua", dest: ".config/nvim/init.lua" }
    - { src: "nvim/lua", dest: ".config/nvim/lua" }
    - { src: "nvim/ftplugin", dest: ".config/nvim/ftplugin" }

- name: Install jsonlint node.js package.
  community.general.npm:
    name: jsonlint
    path: "{{ venv_path }}/nvim/bin"
    global: false
