snippet feature Creates a new feature
	Feature: ${1:name}
		In order to ${2:something}
		A user ${3:something}
		${4:something}

snippet scenario Creates a new scenario
	Scenario: ${1:something}
		Given ${2:something}
		When ${3:something}
		Then ${4:something}

