# New slide
snippet st Slide with title
	!SLIDE center
	# ${1:title} #

snippet sst Slide with title and sub-title
	!SLIDE center
	# ${1:title} #
	## ${2:content} ##

snippet stb Slide with title and bullets
	!SLIDE center bullets
	# ${1:title} #
		* ${2:bullet}
