snippet init
	def initialize(${1:args})
		${2}
	end

snippet path Adds specified path
	$:.unshift File.join(File.dirname(__FILE__), '..', '${1:path}')

snippet ypar YARD doc parameter statement
	@param [${1:param}] ${2:param_description}

snippet yret YARD doc return statement
	@return [${1:return}] ${2:return_description}

snippet yrai YARD doc raise statement
	@raise [${1:raise}] ${2:raise_description}

snippet yexa YARD doc example statement
	@example ${1:description}
		${2:code}
