<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>uk.me.michaelbarton.process_daily_files</string>
    <key>ProgramArguments</key>
    <array>
        <string>~/.dotfiles/zettel/process_daily_files.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
