<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>uk.me.michaelbarton.make_cache</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/mbarton/.bin/tmp_home_dir</string>
		<string>cache</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
