<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Debug</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>uk.me.michaelbarton.monthly</string>
    <key>Program</key>
    <string>/Users/mike/.bin/monthly</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Day</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
