<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>uk.me.michaelbarton.uge_fetch</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/mbarton/.dotfiles/jgi_bin/fetch_uge_queue</string>
		<string>genepool.nersc.gov</string>
		<string>mbarton</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>120</integer>
</dict>
</plist>
