name: Formatting checks

on: [push]

env:
  TERM: xterm

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Check formatting
        run: make fmt_check
